{
    "AiDevsTasks": {
        "BaseUrl": "https://tasks.aidevs.pl",
        "ApiKey": "AI_DEVS_KEY"
    },
    "OpenAi": {
        "ApiKey": "OPEN_AI_API_KEY"
    },
    "Qdrant": {
        "CollectionName": "test",
        "Endpoint": "http://localhost:6333/"
    },
    "RenderForm": {
        "ApiKey": "RENDER_FORM_IO_API_KEY",
        "TemplateId": "TEMPLATE_ID"
    }
}
